.paywall-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 10px 60px;
  position: relative;
  background-color: white;
  transform: translateY(-5rem);

  @media screen and (max-width: 639px) {
    padding: 15px 0px 60px;
  }

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 10rem;
    background: linear-gradient(to top, white 25%, transparent);
    top: -9.5rem;
    left: 0;
  }

  .paywall {
    width: 100%;
    max-width: 815px;
    border-radius: 10px;
    border: 2px solid #95c631;
    padding: 40px 30px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and (max-width: 639px) {
      padding: 30px 10px;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.5;
      color: #333;
      margin-bottom: 20px;
      width: 100%;

      &.intro {
        align-self: center;
        display: inline-block;
        max-width: 500px;
        text-align: center;
        margin-bottom: 40px;
      }

      &.last-content-paragraph {
        margin-bottom: 35px;
      }

      &.centered-text {
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: 25px;

        strong {
          color: $green;
        }

        a {
          color: $green;
          font-weight: 700;
          opacity: 1;
          transition: 150ms;

          &:hover,
          &:focus {
            opacity: 0.75;
          }
        }
      }
    }

    .green-box {
      width: 100%;
      border-radius: 10px;
      background: linear-gradient(to bottom right, #90ba3a, #95c631);
      box-shadow: 0px 4px 16px -5px #a2dc2b;
      padding: 25px 10px;
      min-height: 70px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 45px;

      p {
        color: white;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        font-weight: 400;
        font-size: 1.25rem;
        width: 100%;
        text-align: center;
        margin: 0px;

        @media screen and (max-width: 639px) {
          font-size: 1.125rem;
        }

        a {
          font-weight: 700;
          transition: 150ms;
          opacity: 1;
          color: white;

          &:hover,
          &:focus {
            opacity: 0.75;
          }
        }
      }
    }

    .paywall-final-container {
      width: 100%;
      padding: 30px 10px;
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      justify-content: space-between;
      border: 2px solid #f5f5f5;
      border-radius: 5px;
      box-shadow: 0px 15px 30px -15px rgba(150, 150, 186, 0.1);

      @media screen and (max-width: 750px) {
        flex-flow: column-reverse;
      }

      > * {
        min-height: 100%;
      }

      .vertical-sep {
        width: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e5e5e5;
        position: relative;
        min-height: 260px;
        height: 100%;

        @media screen and (max-width: 750px) {
          display: none;
        }

        &:after {
          position: absolute;
          content: 'ou';
          font-size: 0.875rem;
          line-height: 1;
          top: calc(50% - 0.4rem);
          background-color: white;
          padding: 2px;
          color: #e5e5e5;
        }
      }

      .login-container,
      .plans-container {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;

        @media screen and (max-width: 750px) {
          margin-bottom: 30px;
        }

        p.box-title {
          line-height: 1;
          font-size: 1.25rem;
          font-weight: 800;
          color: $green;
          margin-bottom: 10px;
          text-align: center;
        }

        p.box-descp {
          display: inline-block;
          width: 100%;
          max-width: 250px;
          margin-bottom: 15px;
          line-height: 1.35;
          color: #666;
          text-align: center;
          font-size: 1rem;
        }

        label {
          width: 100%;
          max-width: 230px;
          margin-bottom: 15px;

          p.label-text {
            color: #333;
            font-size: 1rem;
            line-height: 1;
            margin-bottom: 7px;
          }

          input[type='text'],
          input[type='password'] {
            border-radius: 5px;
            border: 1px solid #222;
            box-shadow: none;
            padding: 3px 8px;
            font-weight: 300;
            font-size: 1rem;
            color: #6b6b6b;
            height: 32px;
            transition: 150ms;
            box-shadow: 0px 0px 0px 0px rgba(255, 185, 35, 0.35);

            &:focus {
              border-color: #ffb923;
              box-shadow: 0px 0px 0px 2px rgba(255, 185, 35, 0.35);
            }
          }
        }

        .img-wrapper {
          width: 80%;
          padding-top: 62.5%;
          height: 0;
          background-color: #f5f5f5;
          position: relative;

          img {
            position: absolute;
            top: 0px;
            height: 100%;
          }

          @media screen and (max-width: 425px) {
            width: 90%;
            padding-top: 75%;
          }
        }

        .box-button {
          margin-top: 5px;
          color: white;
          font-size: 1.125rem;
          line-height: 1;
          border-radius: 5px;
          width: 96px;
          height: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(to bottom right, #90ba3a, #95c631);
          text-transform: lowercase;
          font-weight: 400;
          cursor: pointer;
          transition: 150ms;

          &:hover,
          &:focus {
            transform: translateY(-2px);
            box-shadow: 0px 2px 6px -1px rgba(149, 198, 49, 0.5);
          }
        }
      }

      .login-container {
        @media screen and (max-width: 750px) {
          margin-bottom: 0px;
        }
      }

      .plans-container {
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0px;
        padding: 0;

        @media screen and (max-width: 750px) {
          margin-bottom: 1.5rem;
          padding-bottom: 1.5rem;
          position: relative;

          &:after {
            position: absolute;
            content: '';
            bottom: 0;
            width: 60px;
            height: 1px;
            border-radius: 1px;
            left: calc(50% - 30px);
            background-color: #dadada;
          }
        }

        .logo {
          height: 4rem;
          margin: 0 0 1rem;
          fill: $green;
        }

        > div {
          display: flex;
          flex-flow: column;
          align-items: center;

          @media screen and (max-width: 549px) {
            align-items: center;
          }

          ul {
            width: auto;

            li {
              color: #333;
              margin-bottom: 0.25rem;
              padding-left: 1em;
              white-space: nowrap;

              &:after {
                content: '';
                width: 0.55em;
                height: 0.55em;
                top: calc(0.5em - 0.125em);
                background-color: white;
                background-image: url('../images/plans-check.svg');
                background-position: center;
                background-size: 80%;
                background-repeat: no-repeat;
                border-radius: 50%;
              }
            }
          }

          a {
            color: white;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 700;
            background-color: $green;
            padding: 0.5rem 1rem;
            display: inline-block;
            border-radius: 2rem;
            margin: 0.5rem 0;
            transition: 200ms;
            display: inline-block;
            width: auto;
            max-width: auto;

            &:hover,
            &:focus {
              background-color: lighten($green, 7%);
            }
          }

          p {
            margin: 0;
            font-size: 0.875rem;
            color: #333;
            opacity: 0.8;
            display: inline-block;
            width: auto;
          }
        }

        .mockup {
          display: none;
        }
      }

      &.logged {
        padding: 0px;
        background-image: url('../images/vvale-ad-fixo-background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;

        .login-container {
          display: none;
        }

        .vertical-sep {
          display: none;
        }

        .plans-container {
          flex-flow: row;
          align-items: center;
          justify-content: space-evenly;
          margin-bottom: 0px;
          padding: 1rem 0;

          @media screen and (max-width: 549px) {
            flex-flow: column-reverse;
          }

          &:after {
            display: none;
          }

          > p {
            display: none;
          }

          .logo {
            display: none;
          }

          > div {
            display: flex;
            flex-flow: column;

            @media screen and (max-width: 549px) {
              align-items: center;
            }

            li {
              color: white;
              margin-bottom: 0.25rem;
              padding-left: 1em;
              white-space: nowrap;

              &:after {
                content: '';
                width: 0.55em;
                height: 0.55em;
                top: calc(0.5em - 0.125em);
                background-color: white;
                background-image: url('../images/plans-check.svg');
                background-position: center;
                background-size: 80%;
                background-repeat: no-repeat;
                border-radius: 50%;
              }
            }

            a {
              color: white;
              font-size: 1rem;
              text-transform: uppercase;
              font-weight: 700;
              background-color: $green;
              padding: 0.5rem 1rem;
              display: inline-block;
              border-radius: 2rem;
              margin: 0.5rem 0;
              transition: 200ms;
              display: inline-block;
              width: auto;
              max-width: auto;

              &:hover,
              &:focus {
                background-color: lighten($green, 7%);
              }
            }

            p {
              margin: 0;
              font-size: 0.875rem;
              color: white;
              opacity: 0.8;
              display: inline-block;
              width: auto;
            }
          }

          .mockup {
            display: inline-block;
            margin: 1rem 0;
            max-height: 9rem;

            @media screen and (max-width: 549px) {
              max-height: 8rem;
            }
          }
        }
      }
    }
  }
}
