@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
  font-size: 16px;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-family: 'Metropolis', sans-serif;
}

body {
  overflow-y: scroll;
}

@import 'sign-in';
@import 'step1';
@import 'step2';