@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$green: #79b032;

html {
  font-size: 16px;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow-y: scroll;
}

@import 'sign-in';
@import 'step1';
@import 'step2';
@import 'step3';
@import 'step4';
@import 'step5';